.profile {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 280px;
    box-sizing: border-box;
}

.profileSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2% 8% 0;
}

.sectionTitle {
    color: #000;
    font: 400 28px 'Libre Franklin', sans-serif;
    margin-bottom: 38px;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffad69;
    /* Placeholder color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 16px;
}

.image {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    row-gap: 5rem;
    width: 100%;
    margin-top: 1%;
    justify-content: center;
}

.card {
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(255, 173, 105, 0.3);
    padding: 20px;
    text-align: center;
}

.cardTitle {
    font-size: 20px;
    color: #303030;
    margin-bottom: 10px;
    font: 400 20px 'Libre Franklin', sans-serif;
}

.cardButton {
    background-color: #ffad69;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
}

.cardButton:hover {
    background-color: #e59854;
}

@media (max-width: 991px) {
    .profile {
        padding-bottom: 100px;
    }

    .cardContainer {
        grid-template-columns: 1fr;
    }

    .profileSection {
        padding: 40px 20px 0;
    }

    .card {
        margin-bottom: 20px;
    }
}